{% extends "GafferApp/index.html" %}
{% load staticfiles %}

{% block style %}
	#sidePanel {
		background-color:yellow;
	}
	
	#drillBox {
		float: left;
		width: 300px;
		height: 480px;
		background-image:url("{% static "images/lineupField.jpg" %}");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-origin: content-box
		border:3px solid;
		position: relative;
	}
	
	#drillCanvas {
		position: absolute;
		height: 100%;
		width: 100%;
	}
	
	#tempCanvas {
		position: absolute;
		height: 100%;
		width: 100%;
	}
	
	/* Small devices (landscape phones, 576px and up) */
	@media (min-width: 576px) and (min-height: 475px) {
		#drillBox {
			width: 401px;
			height: 600px;
	}

	/* Medium devices (tablets, 768px and up) */
	@media (min-width: 768px) and (min-height: 600px) {
		#drillBox {
			width: 500px;
			height: 730px;
	}
	
	
{% endblock %}

{% block mainBody %}
	<h2 id="title">Create Drill Test</h2>
	<div class="container" id="drillContainer" style="background-color:red;">
		<!-- TOOLBAR -->
		<div class="d-inline-flex flex-row justify-content-center drillSpace">
			<div id="sidePanel" class="d-flex flex-column">
				<img src="{% static "images/player.png" %}" height="30" width="30" class="tool new-item">
				<img src="{% static "images/goalTool.png" %}" height="40" width="40" class="tool new-item">
				<img src="{% static "images/ballTool.png" %}" height="20" width="20" class="tool new-item">
				<p class="tool new-item label">Label</p>
				
				<button id="arrowButton" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
					<img src="{% static "images/arrowTool.png" %}">
				</button>
				
				<button type="button" class="btn" id="submitButton">Create Drill</button>

			</div>
			<div id="drillBox" class="d-flex">
				<canvas id="drillCanvas" width="500" height="730">Canvas is not supported</canvas>
				<canvas id="tempCanvas" width="500" height="730"></canvas>	
			
			</div>
		</div>
	</div>

	
{% endblock %}

{% block script %}
	<script src="{% static "js/html2canvas.min.js" %}"></script>
	<script>
		$(document).ready(function() {	

		
		
			$('.new-item').draggable({
				containment: ".drillSpace",
				helper: "clone",
				stack: ".new-item",
				revert: "invalid"
			});
			
			$("#drillBox").droppable({
				accept: ".tool",
				drop: dropHandler,
			});
			
			function dropHandler(event, ui) {
				var newPosX = ui.offset.left - $(this).offset().left;
				var newPosY = ui.offset.top - $(this).offset().top;

				clone = $(ui.helper).clone();
								
				if (clone.hasClass("new-item")) {
					clone.removeClass("new-item");
					clone.css({"left":newPosX,"top":newPosY});
					clone.draggable({
						containment: ".drillSpace",
						revert: function(valid) { if(!valid) {this.remove();} }
					});
					if (clone.hasClass("label")) {
						clone.attr("contenteditable", "true");
					}
			
					if (clone.hasClass("resizable")) {
						clone.children().rotatable();
					}

			
					$(this).append(clone);
				}
			};
			
			$("#submitButton").click(function() {
				html2canvas($("#drillBox"), {
					onrendered: function(canvas) {
						document.body.appendChild(canvas);
					}
				});
			});
			
			var myCanvas = document.getElementById("drillCanvas");	
			var myTempCanvas = document.getElementById("tempCanvas");
			var context = myCanvas.getContext('2d');
			var tempContext = myTempCanvas.getContext('2d');
			tempContext.strokeStyle="rgba(0,0,0,.5)"
			var drawing = false;
			var startPos = {x:0, y:0};
			var endPos = {x:0, y:0};
			var canvasOffset = $("#drillCanvas").offset();
			var headlen = 8;
			
			function drawArrow(cntxt) {
				var angle = Math.atan2(endPos.y - startPos.y, endPos.x - startPos.x);

				cntxt.beginPath();
				cntxt.moveTo(startPos.x, startPos.y);
				cntxt.lineTo(endPos.x, endPos.y);	
				cntxt.lineTo(endPos.x-headlen*Math.cos(angle-Math.PI/6),endPos.y-headlen*Math.sin(angle-Math.PI/6));
				cntxt.moveTo(endPos.x, endPos.y);
				cntxt.lineTo(endPos.x-headlen*Math.cos(angle+Math.PI/6),endPos.y-headlen*Math.sin(angle+Math.PI/6));
				
				cntxt.stroke();				
			}
			
			function clearCanvas(cnvs) {
				tempContext.clearRect(0, 0, cnvs.width, cnvs.height);
			}
			
			$("#tempCanvas").mousemove(function(event) {
				if (drawing === true) {
					endPos = {x: event.pageX - canvasOffset.left, y: event.pageY - canvasOffset.top};
					clearCanvas(myTempCanvas);
					drawArrow(tempContext);
				}	
			});
			
			$("#tempCanvas").mousedown(function(event) {
				if ($("#arrowButton").attr("aria-pressed") == "true") {
					drawing = true;
					startPos = {x: event.pageX - canvasOffset.left, y: event.pageY - canvasOffset.top};
					endPos = {x: event.pageX - canvasOffset.left, y: event.pageY - canvasOffset.top};
				}
			});
			
			$(window).mouseup(function() {
				clearCanvas(tempCanvas);
				drawArrow(context);
				startPos = {x:0, y:0};
				endPos = {x:0, y:0};	
				drawing = false;
			});
			

		});
	</script>
{% endblock %}